.container p {
    margin: 10px 0;
}

h2 {
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 15px;
    border-left: 3px solid teal;
    padding-left: 10px;
}

.container .text-block {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.2);
    margin-bottom: 30px;
    color: white;
}